<a href="https://colab.research.google.com/github/amitpathakjec/Data-Structures-in-Python/blob/master/OOPs_Concept.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class test:
  '''This class is developed for demo purpose'''

print(test.__doc__)
help(test)

This class is developed for demo purpose
Help on class test in module __main__:

class test(builtins.object)
 |  This class is developed for demo purpose
 |
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

In [ ]:
class student:
  def __init__(self):
    self.name = "Amit"
    self.rollno = 101

  def talk(self):
    print('Hello my name and roll num are ',self.name,self.rollno)  

s = student()
s.talk()
print(s.name)

Hello my name and roll num are  Amit 101
Amit

In [ ]:
class student:
  def __init__(self,name,rollno):
    self.name = name
    self.rollno = rollno
    print('self variable address ', id(self))
  def talk(self):
    print('Hello my name is ',self.name,' and my roll is ',self.rollno)

s1 = student('Amit',101)
s2 = student('Pushpank',201)

s1.talk()
s2.talk()
print(s1.name)
print(s2.rollno)

print(id(s1))
print(id(s2))

self variable address  140131976253840
self variable address  140131976256080
Hello my name is  Amit  and my roll is  101
Hello my name is  Pushpank  and my roll is  201
Amit
201
140131976253840
140131976256080

In [ ]:
class test:
  def __init__(self):
    print('constructor')

t1 = test()
t2 = test()
t3 = test()

constructor
constructor
constructor

In [ ]:
class movie:
  '''This class is developed for demo purpose'''
  def __init__(self,title,hero,heroine):   #these are just dummy variables
    self.title = title  # these are instance variable = (self.name)
    self.hero = hero
    self.heroine = heroine
  def info(self):  
    print('Movie name is: ',self.title)
    print('Hero name is: ',self.hero)
    print('Heroine name is: ',self.heroine)


list_movies = []
while True:
  title = input('Enter title name ')
  hero = input('Enter hero name ')
  heroine = input('Enter heroine name ')
  m = movie(title,hero,heroine)
  list_movies.append(m)
  option = input('Do you want to add more movies? [Yes/No]')
  if option.lower() == 'no':
    break   
print()    
print('All movies info: ')
for movie in list_movies:
  movie.info()
  print()

Enter title name S1
Enter hero name A1
Enter heroine name B1
Do you want to add more movies? [Yes/No]Yes
Enter title name S
Enter hero name A
Enter heroine name B
Do you want to add more movies? [Yes/No]No
All movies info:
Movie name is:  S1
Hero name is:  A1
Heroine name is:  B1

Movie name is:  S
Hero name is:  A
Heroine name is:  B

In [ ]:
class student:
  school_name = 'Durgasoft' #static variable
  def __init__(self,name,rollno):
    self.name = name #instance variable
    self.rollno = rollno #instance variable
  def talk(self):
    x = 2 #local variable                                
    for i in range(1,x):
      print('Hello my name and rollno is: ',name,rollno)

In [ ]:
class test:
  def __init__(self):
    self.a = 10
    self.b = 20
  
  def m1(self):
    self.c = 30

t1 = test() # a,b added to object
t1.m1() # c added to object
t1.d = 40 # d added to object
print(t1.__dict__)

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [ ]:
# Accessing the instance variable

class test:
  
  def __init__(self):
    self.a = 10
    self.b = 20
  
  def display(self):
    print(self.a)
    print(self.b)

  def m1(self):
    del self.b
    
t1 = test() 
print(t1.a)
print(t1.b)
print()
t1.m1()
print(t1.__dict__)

10
20

{'a': 10}

In [ ]:
# Various places to declare static(class level) variable
class test:
  a = 10
  def __init__(self):
    test.b = 20
  def m1(self):
    test.c = 30  
  @classmethod
  def m2(cls):
    cls.d = 40
    test.e = 50  
  @staticmethod
  def m3():
    test.f = 60  

t1 = test()
t1.m1()
test.m2()
test.m3()
test.g = 70
print(t1.__dict__)

{}

In [ ]:
class customer:
  '''Class developed to describe bank operations'''
  bankname = 'Bank of America'
  def __init__(self,name,balance=0.0):
    self.name = name
    self.balance = balance
  def deposite(self,amt):
    self.balance += amt
    print('Balance is ',self.balance)  
  def withdraw(self,amt):
    if amt > self.balance:
      print('Insufficient balance')
    else:
      self.balance -=amt
      print('Balance is ',self.balance)

print('Welcome to ', customer.bankname)
name = input('Enter your name : ')
c = customer(name)
while True:
  print('D: deposit / E : exit / W : withdraw')
  option = input('Choose your option')
  if option.lower() == 'd':
    amt = int(input('Enter amount to deposite : '))
    c.deposite(amt)
  elif option.lower() == 'w':
    amt = int(input('Enter amount to withdraw : '))
    c.withdraw(amt)
  elif option.lower() == 'e':
    print('Thanks for banking')
    break
  else:
    print('Enter a valid option')

Welcome to  Bank of America
Enter your name : Amit
D: deposit / E : exit / W : withdraw
Choose your optionD
Enter amount to deposite : 1000
Balance is  1000.0
D: deposit / E : exit / W : withdraw
Choose your optionW
Enter amount to withdraw : 500
Balance is  500.0
D: deposit / E : exit / W : withdraw
Choose your option500
Enter a valid option
D: deposit / E : exit / W : withdraw
Choose your optionW
Enter amount to withdraw : 100
Balance is  400.0
D: deposit / E : exit / W : withdraw
Choose your option100
Enter a valid option
D: deposit / E : exit / W : withdraw
Choose your optionW
Enter amount to withdraw : 100
Balance is  300.0
D: deposit / E : exit / W : withdraw
Choose your optionW
Enter amount to withdraw : 400
Insufficient balance
D: deposit / E : exit / W : withdraw
Choose your optionE
Thanks for banking

In [ ]:
# Accessing other class members
class employee:
  def __init__(self,name,sal):
    self.name = name
    self.sal = sal
  def display(self):
    print('Name is ',self.name)
    print('Salary is ',self.sal)

emp1 = employee('Amit',50000)
emp1.display()
print()

class manager:
  def updateSal(emp):
    emp.sal = emp.sal + 10000
    emp.display()

manager.updateSal(emp1)

Name is  Amit
Salary is  50000

Name is  Amit
Salary is  60000

In [ ]:
# Nesting of inner class

class outer:
  def __init__(self):
    print('outer class object. creation')
  class inner:
    def __init__(self):
      print('inner class object creation')
    class innerinner:
      def __init__(self):
        print('inner inner class obj creation')
      def m1(self):
        print('Nested inner inner class method')

# calling nested inner class
#outer().inner().innerinner().m1()
o = outer()
i = o.inner()
nested = i.innerinner()
nested.m1()

outer class object. creation
inner class object creation
inner inner class obj creation
Nested inner inner class method

In [ ]:
class Human:
  def __init__(self,name):
    self.name = name
    self.head = self.Head() # craetion of head object. on creation ob human obj
    print('Human object creation')
  class Head:
    def __init__(self):
      print('Head object creation')
      self.brain = self.Brain() # creation of brain obj on creation of head obj
    class Brain:
      def __init__(self):
        print('Brain object creation')    
      def think(self):
        print('Thinking....')  

Human('Amit').Head().Brain().think()

Head object creation
Brain object creation
Human object creation
Head object creation
Brain object creation
Brain object creation
Thinking....

In [ ]:
year = int(input())
class person:
  def __init__(self,name):
    self.name = name
    print('person obj creation of ',self.name)
    self.Dob = self.Dob(year)
   
  class Dob:
    def __init__(self,year):
      self.year = year
      print('Dob object created')
      print('DOB is ', self.year)
      pass

P = person('Amit')

16
person obj creation of  Amit
Dob object created
DOB is  16

In [ ]:
# nesting of method
class Test:
  def m1(self):
    def calc(a,b):
      print('sum ',a+b)
      print('avg', (a+b)/2)
      print('product', a*b)
      print()
    calc(10,20)
    calc(1,3)
    calc(100,100)

t = Test()
t.m1()

sum  30
avg 15.0
product 200

sum  4
avg 2.0
product 3

sum  200
avg 100.0
product 10000

In [ ]:
import gc
print(gc.isenabled())
print()
gc.enable()
print(gc.isenabled())

True

True

In [ ]:
import time
class Test:
  def __init__(self):
    print('object initialization')
  def __del__(self):
    print('Fulfilling last wish aka cleaning up before destroying')

t = Test()
t = None
time.sleep(10)
print('End of application')

object initialization
Fulfilling last wish aka cleaning up before destroying
End of application

In [ ]:
# Garbage Collection and destructor
import time
class Test:
  def __init__(self):
    print('Constructor execution')
  def __del__(self):
    print('Destructor execution')

t1 = Test()
t2 = t1
t3 = t1
del t1
time.sleep(10)
print('Object not destroyed after deleting t1')
print()

del t2
time.sleep(10)
print('Object not destroyed after deleting t2 as well')
print()

print('Deleting last reference variable')
del t3
time.sleep(10)
print('Object destroyed!')

Constructor execution
Object not destroyed after deleting t1

Object not destroyed after deleting t2 as well

Deleting last reference variable
Destructor execution
Object destroyed!

In [ ]:
import time
class Test:
  def __init__(self):
    print('constructor. execution')
  def __del__(self):
    print('destructor execution')

L = [Test(),Test(),Test()]   
#print('')
#print('making eligible for GC')   

#del L
time.sleep(10)
print('End of application')

# Although it is suppoesed to call destructor executed but its not happening maybe its the compiler!!

constructor. execution
constructor. execution
constructor. execution
End of application

In [ ]:
class Test:
  def __init__(self):
    print('constructor. execution')
  def __del__(self):
    print('destructor execution')

t1 = Test()
del t1 #Object and reference variable both deleted

t2 = Test()
t2 = None #Only the object is deleted

In [ ]:
class Engine:
  def m1(self):
    print('This is a engine functionality')
class Car:
  def __init__(self):
    self.engine = Engine()
  def m2(self):
    print('Car required engine funtionality')
    self.engine.m1()

c = Car()
c.m2()

Car required engine funtionality
This is a engine functionality

In [ ]:
class C1:
  def m1(self):
    print()
    print('This belongs to 1st class and if it is being printed then tada!!')

class C2:
  def __init__(self):
    print('Class 2 object initialization is happening')
    self.c1 = C1()

  def m2(self):
    print('Now Class 2 method is being executed')
    self.c1.m1()

obj = C2()
obj.m2()

Class 2 object initialization is happening
Now Class 2 method is being executed

This belongs to 1st class and if it is being printed then tada!!

In [ ]:

class Car:
  def __init__(self,name,model,color):
    self.name = name
    self.model = model
    self.color = color
  def info(self):
    print('car name : {},model : {}, color : {}'.format(self.name,self.model,self.color))

class emp:
  def __init__(self,name,car):
    self.ename = name
    self.car = Car('Benz','s_class','Black')
  def empInfo(self):
    print('Employee name',self.ename)
    print('Emp car info: ')
    self.car.info()


e1 = emp('Amit','Benz')
e1.empInfo()

Employee name Amit
Emp car info:
car name : Benz,model : s_class, color : Black

In [ ]:
# Has-A-Relation example 03
class sports_news:
  def m1(self):
    print('This is SPORTS NEWS')

class politics_news:
  def m2(self):
    print('This is POLITICS NEWS')

class movies_news:
  def m3(self):
    print('This is MOVIES NEWS')

class amitNews:
  def __init__(self):
    print('Welcome to AmitNews')
    self.sports_news = sports_news()
    self.movies_news = movies_news()
    self.politics_news = politics_news()
  def callNews(self):
    self.sports_news.m1()
    self.movies_news.m3()
    self.politics_news.m2()

a = amitNews()
a.callNews()

Welcome to AmitNews
This is SPORTS NEWS
This is MOVIES NEWS
This is POLITICS NEWS

In [ ]:
class person:
  def __init__(self,name,age):
    self.name = name
    self.age = age
  def eats(self):
    print('Eats Biryani')
class emp(person):
  def __init__(self,name,age,company,sal):
    super().__init__(name,age)
    self.company = company
    self.sal = sal
  def emp_info(self):
    print('Emp name/age/company/salary are : ',self.name,self.age,self.company,self.age)

e1 = emp('Amit',23,'Facebook',500000)
e1.eats()
e1.emp_info()

Eats Biryani
Emp name/age/company/salary are :  Amit 23 Facebook 23

In [ ]:
class book:
  def __init__(self,pages):
    self.pages = pages
  def __add__(self,other):
    total_pages = self.pages + other.pages
    return total_pages
B1 = book(100)
B2 = book(200)

print(B1+B2)

300

In [ ]:
class student:
  def __init__(self,name,marks):
    self.name = name 
    self.marks = marks
  def __add__(self,other):
    total_marks = self.marks + other.marks  
    return total_marks

s1 = student('Amit',100)
s2 = student('Shivam',120)
print('Commbined marks of ',s1.name, ' and ',s2.name,' are: ')
print(s1+s2)

Commbined marks of  Amit  and  Shivam  are:
220

In [ ]:
#. Checking. grater than or equal to
class student:
  def __init__(self,name,mark):
    self.name = name
    self.mark = mark
  def __ge__(self,other):
    if(self.mark >= other.mark):
      return True
    else: 
      return False  

s1 = student('Amit',120)
s2 = student('Shivam',190)

print(s1.name, ' marks are greater or equal to' , s2.name)
print(s1>=s2)

Amit  marks are greater or equal to Shivam
False

In [ ]:
class emp:
  def __init__(self,name,wage):
    self.name = name
    self.wage = wage

class timesheet:
  def __init__(self,name,workingdays):
    self.name = name
    self.workingdays = workingdays
    emp.self = e1
  def __mul__(self,e1):
    return self.workingdays * e1.wage
e1 = ('Amit',5000)
t1 = ('Amit',20)
print('This month salary is: ',t1*e1)    
# Didn't gave error in durga sir code

TypeError: ignored

In [ ]:
class book:
  def __init__(self,page):
    self.page = page
  def __add__(self,other):
    return book(self.page + other.page)
  def __mul__(self,other):
    return book(self.page*other.page)  
  def __str__(self):
    return 'Total number of pages are : {} '.format(self.page)

B1 = book(100)
B2 = book(200)
B3 = book(500)
B4 = book(500)

print(B1+B2+B3+B4)
print(B1*B2)

Total number of pages are : 1300
Total number of pages are : 20000

In [ ]:
class person:
  def __init___(self,name,age):
    self.name = name
    self.age = age
  def display(self):
    print(self.name, self.age)
class emp(person):
  def __init__(self,name,age,eno,esal):
    #self.name = name
    #self.age = age
    super().__init__ (name,age) #this line is correct and working in durga sir code
    self.eno = eno
    self.esal = esal
  def display(self):    # overriding display() method
    print(self.name, self.age, self.eno, self.esal)  
    super().display()

c = emp('Amit',23,12345,50000)   
c.display()

TypeError: ignored