<a href="https://colab.research.google.com/github/amitpathakjec/Data-Structures-in-Python/blob/master/Python_DataStructures_List_Tuple_Set_Dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**List**

In [ ]:
L = list(range(10,101,10))
print(L)

# Indexing 
print(L[8])
print(L[-2])

print()

# Slicing
print(L[1:5])
print(L[1:5:2])
print(L[4::2])
print(L[8:2:-1])
print(L[4:100])
print(L[::])

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
90
90

[20, 30, 40, 50]
[20, 40]
[50, 70, 90]
[90, 80, 70, 60, 50, 40]
[50, 60, 70, 80, 90, 100]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
l = [10,20,30,40,50,60,70,80,90,100]

i = 0
while i<5:
  print(l[i], end = ' ')
  i = i+1 

print()

for x in l:
  if x%25 == 0:
    print(x, end = ' ')

for i in range(len(l)):
  print('Element at positive index {} and negative index {} is {}'.format(i,len(l)-i,l[i]))

10 20 30 40 50
50 100 Element at positive index 0 and negative index 10 is 10
Element at positive index 1 and negative index 9 is 20
Element at positive index 2 and negative index 8 is 30
Element at positive index 3 and negative index 7 is 40
Element at positive index 4 and negative index 6 is 50
Element at positive index 5 and negative index 5 is 60
Element at positive index 6 and negative index 4 is 70
Element at positive index 7 and negative index 3 is 80
Element at positive index 8 and negative index 2 is 90
Element at positive index 9 and negative index 1 is 100

In [ ]:
# Operator for lists'

# Concatination
l1 = [10,20,30]
l2 = [40,50,60]
l3 = l1+l2
print(l3)

# Repitation operator
l1 = [10,20,30]
l2 = l1*2
print(l2)

# Equality operator
l1 = ['a','b','c']
l2 = ['a','b','c']
l3 = ['A','B','C']
l4 = ['b','a','c']

print(l1 == l2)
print(l1 == l3)
print(l1 == l4)

print()
# Relational operator
l1 = [50,60]
l2 = [10,20,30,40]
print(l1>l2)
print(l1>=l2)
print(l1<l2)
print(l1<=l2)

print()
l1 = ['Amit','Neelesh']
l2 = ['Amit','Nilesh']
print(l1>l2)

print()
# Membership operator
L = [10,20,30,40,50]
print(60 not in L)
print(10 in L)

[10, 20, 30, 40, 50, 60]
[10, 20, 30, 10, 20, 30]
True
False
False

True
True
False
False

False

True
True

In [ ]:
## Functions and methods related to list:
l = [10,20,30,40,50,60,10,20,30,40,10,20,30,10,20]
print(l.append(100))
print(l.remove(20))
print(l.count(10))
print(l.index(30))
print(sorted(l))
print(len(l))

None
None
4
1
[10, 10, 10, 10, 20, 20, 20, 30, 30, 30, 40, 40, 50, 60, 100]
15

In [ ]:
L = list(range(0,10,2))
print(L)

l = []
for x in range(1,101):
  if x%10 == 0:
    l.append(x)
print(l)    
l.insert(2,101)
print(l)

[0, 2, 4, 6, 8]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
[10, 20, 101, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
L1 = [10,20,30,40]
L2 = [50,60,70]
L1.extend(L2)
print(L1)

[10, 20, 30, 40, 50, 60, 70]

In [ ]:
l = [10,20,30,40,50,10,20,30,10,20,10,]
l.remove(10)
print(l)

#l.remove(70) since 70 not in list therefore value error
x = int(input('Enter value to remove: '))
print('Before removal : ',l)
if x in l:
  l.remove(x)
  print('After removal : ', l)
else:
  print(x,' is not present in list')

[20, 30, 40, 50, 10, 20, 30, 10, 20, 10]
Enter value to remove: 100
Before removal :  [20, 30, 40, 50, 10, 20, 30, 10, 20, 10]
100  is not present in list

In [ ]:
# removing all occurances
l = [1,1,1,1,2,2,2,3,3,3]
x = int(input('Enter element to remove: '))
while True:
  if x in l:
    l.remove(x)
  else:
    break
print('After removal : ',l)

Enter element to remove: 1
After removal :  [2, 2, 2, 3, 3, 3]

In [ ]:
L = [10,20,30,40,50]
print('Before reversal : ',L)
L.reverse()
print('After reversal : ',L)

R = reversed(L)
print('Reversed is a python method while Reverse is a list specific method ',R)
print(type(R))
print('Re-reversed list is : ',L)

Before reversal :  [10, 20, 30, 40, 50]
After reversal :  [50, 40, 30, 20, 10]
Reversed is a python method while Reverse is a list specific method  <list_reverseiterator object at 0x7f2f96822f90>
<class 'list_reverseiterator'>
Re-reversed list is :  [50, 40, 30, 20, 10]

In [ ]:
# Reversed is applicable for all object type:
s = 'AMITPATHAK'
r = reversed(s)
print(r)
for i in r:
  print(i,end = ' ')

<reversed object at 0x7f2f967e26d0>
<reversed object at 0x7f2f967e26d0> <reversed object at 0x7f2f967e26d0> <reversed object at 0x7f2f967e26d0> <reversed object at 0x7f2f967e26d0> <reversed object at 0x7f2f967e26d0> <reversed object at 0x7f2f967e26d0> <reversed object at 0x7f2f967e26d0> <reversed object at 0x7f2f967e26d0> <reversed object at 0x7f2f967e26d0> <reversed object at 0x7f2f967e26d0>

In [ ]:
l = [10,20,5,15,0,25]
print('Before sorting ',l)
l.sort()
print('After sorting ',l)

print()
l1 = ['cat','banana','amit','anil']
l1.sort()
print(l1)
print('After sorting ', l1)

l1.sort(reverse = True)
print(l1)

print()
l2 = ['mango','apple','banana']
print(l2)
l2.sort(reverse = True)
print(l2)

Before sorting  [10, 20, 5, 15, 0, 25]
After sorting  [0, 5, 10, 15, 20, 25]

['amit', 'anil', 'banana', 'cat']
After sorting  ['amit', 'anil', 'banana', 'cat']
['cat', 'banana', 'anil', 'amit']

['mango', 'apple', 'banana']
['mango', 'banana', 'apple']

**List Comprehension**

In [ ]:
L = [x*x for x in range(1,6)]
print(L)

[1, 4, 9, 16, 25]

In [ ]:
L = [2**x for x in range(1,6)]
print(L)

[2, 4, 8, 16, 32]

In [ ]:
L = [x for x in range(1,101) if x%10 == 0]
print(L)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
l1 = [1,2,3,4,5,6,7,8,9,10]
l2 = [5,6,7,8,9,10]

L = [x for x in l1 if x not in l2]
print(L)

L1 = [x for x in l1 if x in l2]
print(L1)

[1, 2, 3, 4]
[5, 6, 7, 8, 9, 10]

In [ ]:
# List containing 1st letter  
l = ['Amit','Shivam','Neelesh','Vipin']
L = [word[0] for word in l]
print(L)

['A', 'S', 'N', 'V']

In [ ]:
s = 'The quick brown fox jumps over the lazy dog'
words = s.split()
print(words)

# list comprehensing
List1 = [[x.upper(),len(x)] for x in words]
print(List1)

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[['THE', 3], ['QUICK', 5], ['BROWN', 5], ['FOX', 3], ['JUMPS', 5], ['OVER', 4], ['THE', 3], ['LAZY', 4], ['DOG', 3]]

In [ ]:
vowels = ['a','e','i','o','u']
s = input('Enter the string ')
s.lower()

ch = []
for i in range(len(s)):
  ch.append(s[i])

list1 =  [x for x in ch if x in vowels]

print(list1)

Enter the string Aeiouaeiou
['e', 'i', 'o', 'u', 'a', 'e', 'i', 'o', 'u']

In [ ]:

s = input()
result = []
for ch in vowels:
  if ch in s:
    result.append(ch)
print(result)

Aaaaaeeeeeeiiiiihhhhjjj
['a', 'e', 'i']

In [ ]:
s = input()
l = [ch for ch in vowels if ch in s]
print(l)
print(len(l))

Mississippi

NameError: ignored

**Tuple**

In [ ]:
t = 1,3,2,3,2,3,'durga','amit','amit',1,2
print(type(t))
print(t[-1])
print(t[0])
print(t[1:8])

# t[2] = 'pathak'   ## error as tuple is not mutable
# Immutable

<class 'tuple'>
2
1
(3, 2, 3, 2, 3, 'durga', 'amit')

In [ ]:
# Creating tuple
t1 = ()
t2 = (1,2,3,4,)
t3 = (10,)

L = [1,2,3,4,5]
t4 = tuple(L)

t5 = tuple('durga')
t6 = tuple(range(1,11))
print(t1)
print(t2)
print(t3)
print(t4)
print(t5)
print(t6)


x = eval(input('Enter tuple value'))
print(type(x))
t7 = tuple(x)
print(type(t7))
print(t7)

()
(1, 2, 3, 4)
(10,)
(1, 2, 3, 4, 5)
('d', 'u', 'r', 'g', 'a')
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
Enter tuple value(10,20,30,40,50,60,70,)
<class 'tuple'>
<class 'tuple'>
(10, 20, 30, 40, 50, 60, 70)

In [ ]:
# Accessing element of tuple object:
t = (10,20,30,40,50,60,7,80,90,100)
print(t[1])
print(t[0])
print(t[-1])
# print(t[100]) indexOutOfBound Error

print(t[::])
print(t[2:5])
print(t[-1:-100:-1])
print(t[1:100])
print(t[::2])
print(t[::-2]) # if we give negative step then it starts from end position.

20
10
100
(10, 20, 30, 40, 50, 60, 7, 80, 90, 100)
(30, 40, 50)
(100, 90, 80, 7, 60, 50, 40, 30, 20, 10)
(20, 30, 40, 50, 60, 7, 80, 90, 100)
(10, 30, 50, 7, 90)
(100, 80, 60, 40, 20)

In [ ]:
# Operators and Function on tuples

t1 = (10,20,30,40)
t2 = (50,60,70,80)
print(t1+t2)

# New object created

l1 = [4]
l2 = [1,2,3]
print(l2+l1)

# t1+5 Can only concatinate tuple data types

(10, 20, 30, 40, 50, 60, 70, 80)
[1, 2, 3, 4]

In [ ]:
# Operator for tuple

t1 = (10,20,30,40,50)
print(3*t1)

(10, 20, 30, 40, 50, 10, 20, 30, 40, 50, 10, 20, 30, 40, 50)

In [ ]:
t1 = tuple([x for x in range(101) if x%10 == 0])
print(t)

t2 = tuple([x for x in range(51) if x%5 == 0]) 
print(t2)

# Equality operator 
print()
print(t1 == t2)
print(t1 != t2)

# Relational operator
print()
print(t1 > t2)
# Basically compares two tuples for same indices 

# Membership operator
print()
print(50 in t1)
print(71 not in t2)

(0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100)
(0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50)

False
True

True

True
True

In [ ]:
# Sorting and Reversing tuple
t1 = (5,4,3,2,1)
# t1.reverse()
t2 = tuple(reversed(t1))
print(t2)

# t1.sort()
l = sorted(t1)
t2 = tuple(l)
print(t2)

(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)

In [ ]:
# Program to input tuple of numbers
t = eval(input('Enter the numbers of tuples'))
print(t)
print(type(t))
print('average: ',sum(t)/len(t))

Enter the numbers of tuples10,20,30
(10, 20, 30)
<class 'tuple'>
average:  20.0

In [ ]:
L = eval(input('Enter list'))
print(type(L))

Enter list[10,20,30]
<class 'list'>

**Set Data Structures**

In [ ]:
s1 = set()
s2 = {10,20,30,40,10}
print(s1)
print(s2)

set()
{40, 10, 20, 30}

In [ ]:
l= [10,20,30,40,50,10,20,10]
s = set(l)
print(s)

s1 = set(range(0,101,10))
print(s1)

s2 = set('apple')
print(s2)

{40, 10, 50, 20, 30}
{0, 100, 70, 40, 10, 80, 50, 20, 90, 60, 30}
{'a', 'p', 'l', 'e'}

In [ ]:
# Set creation by dynamic input
s = set(input('Enter set elements : '))
print(s)

s1 = eval(input('Enter set elements : '))
print(s1)

Enter set elements : 10203040
{'0', '2', '1', '4', '3'}
Enter set elements : 10,20,30,40,50
(10, 20, 30, 40, 50)

In [ ]:
s1 = {10,20,30}
s2 = {20,30,10}

print(s1 == s2)
print(s1 > s2)

True
False

In [ ]:
s = {10,20,30,40,50}
print( 50 in s)

True

In [ ]:
# Functions/Method related to sets
s = {10,20,30,40,50,60,70,80,90,100}
print(len(s)) # len() - this is a python specific method

# add method
s.add(110)
print(len(s))

10
11

In [ ]:
s = {20,30,40,50,70,90,60,10,100}
s1 = s.reverse() 
print(s1)

AttributeError: ignored

In [ ]:
s ={10,20}
l = [30,40]
s.update(l)
print(s)

s.update(range(1,5),'durga')
print(s)

{40, 10, 20, 30}
{'a', 1, 2, 3, 4, 'd', 'g', 40, 'u', 10, 'r', 20, 30}

In [1]:
s = set()
s.update(range(1,11))
print(s)

s.remove(10)
print('After removing 10, s: ',s)

s.discard(50)
s.discard(5)
print('After discarding 5. and 50 from set: ',s)

print(s.pop()) # s.pop() - removes a random element from the set
# you can not pop any element from empty set - hence, error

# s.clear() - removes all elements from the set
print()
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
After removing 10, s:  {1, 2, 3, 4, 5, 6, 7, 8, 9}
After discarding 5. and 50 from set:  {1, 2, 3, 4, 6, 7, 8, 9}
1

{2, 3, 4, 6, 7, 8, 9}

**Dictionary Data Structure**

In [5]:
d = {'a':1,'b':2,'c':3,'d':4}
print(d(a))

NameError: ignored

In [10]:
d = eval(input('Enter dictionary :'))
print(d)
# this code works

Enter dictionary :{ 100 : ‘a’, 200 : ‘b’}

SyntaxError: ignored

In [13]:
d = {1:'a',2:'b',3:'c'}
print(d[1])
# print(d[700]). - error:key not found

d[2] = 'z'
print(d)

a
{1: 'a', 2: 'z', 3: 'c'}

In [16]:
d = {}
n = int(input('Enter number of student : '))
for i in range(n):
  name = input('Enter name : ')
  marks = int(input('Enter marks : '))
  d[name] = marks
print(d)

Enter number of student : 2
Enter name : Amit
Enter marks : 100
Enter name : Neelesh
Enter marks : 105
{'Amit': 100, 'Neelesh ': 105}

In [17]:
d = {1:'a',2:'b',3:'c'}

In [30]:
d = {'amit':100,'shivam':200,'neelesh':300}
print(d.items())
print(len(d))
d.get('amit')
d.pop('amit')
print(d)

print()
d.popitem()
print(d)

print()
print(d.keys())
print(d.values())

print()
d1 = d.copy()
print(d1.items())

dict_items([('amit', 100), ('shivam', 200), ('neelesh', 300)])
3
{'shivam': 200, 'neelesh': 300}

{'shivam': 200}

dict_keys(['shivam'])
dict_values([200])

dict_items([('shivam', 200)])

In [34]:
# Dict comprehension
d = {x:x^2 for x in range(1,6)}
print(d)
print(type(d))

{1: 3, 2: 0, 3: 1, 4: 6, 5: 7}
<class 'dict'>

In [38]:
# just a practice program
n = int(input('Enter number of students: '))
d = {}
for i in range(n):
  name = input('Enter name: ')
  marks = int(input('Enter marks: '))
  d[name] = marks
print('Here is the dict containing name and marks of students: ')  
print(d)

print()
while True:
  name = input('Enter the name of student to get marks: ')
  if name in d:
    print(name, ' marks are : ',d[name])
  else:
    print('Given student not found in list')
  option = input('Do you want to perform operation again: [Yes/No]')
  if option.lower() == 'no':
    print('Thankyou')
    break

Enter number of students: 2
Enter name: A
Enter marks: 90
Enter name: B
Enter marks: 60
Here is the dict containing name and marks of students:
{'A': 90, 'B': 60}

Enter the name of student to get marks: A
A  marks are :  90
Do you want to perform operation again: [Yes/No]Yes
Enter the name of student to get marks: B
B  marks are :  60
Do you want to perform operation again: [Yes/No]No
Thankyou